/********** Template CSS **********/
:root {
    --primary: #ff6106;
    --secondary: #5eb4f1;
    --light: #f4f5f8;
    --dark: #1c1e32;
}

html {
    scroll-behavior: smooth;
  }
  


.team-item{
    width: 350px;
}

.vehicle_box{
    width: 60vw;
}

.vehicle_route {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}




.bg-black{
    background-color: #000000;
}
.bg-Frozen{
    background-color: #eaebec;
}
.bg-Chiller{
    background-color: #97c5e7 !important;
}
.bg-Dry{
    background-color: #fce9cb !important;
}

.price-estimation {
    height: fit-content;
    position: sticky;
    top: 15vh;
    bottom: 6vh;
}
.all-vehicles{
    position: relative;
}


.form-overlay-container{
    height: 0px;
}

.navbar-dark .navbar-toggler {
    background-color: var(--secondary);
}
#banner_form {
    max-width: 70vw;
}
#form_overlay_banner {
    position: relative;
    top: -750px;
    left: 100px;
    z-index: 10;
    width: fit-content;
    height: fit-content;
}

.banner_text {
    margin-top: 120px;
}

.btn-booknow{
    background-color: var(--primary);
}

.btn-priceestimation{
    background-color: #97c5e7;
}
.btn-priceestimation:hover{
    background-color: #97c5e7;
}

button {
    background-color: #f57c00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

button:hover {
    background-color: #f57c00cc;
}

.milestone_counter{
    font-size: 35px;
    color: var(--primary);
    font-weight: 600;
}
.milestone_text{
    font-size: 14px;
    
}

.text-primaryorange {
    color: var(--primary);
}

.bg-greyishblue {
    background-color: #d1e9ef;
}

.bg-lightorange {
    background-color: #fce9cb;
}

.bg-primaryorange {
    background-color: var(--primary);
}

.bg-secondaryblue {
    background-color: var(--secondary);
}

.text-secondaryblue {
    color: var(--secondary);
}

.btn-primaryorange {
    background-color: var(--primary);
    color: white;
}
.btn-secondaryblue {
    background-color: var(--secondary);
    color: white;
}
.btn-secondaryblue:hover {
    background-color: #5197c9;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


.nav-bar::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 30px 15px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000000;
    outline: none;
}
.navbar-dark .navbar-nav .nav-link{
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link {
        padding: 10px 15px;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.425);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption{
        padding: 1rem !important;
    }
    .carousel-caption h1{
        font-size: 16px;
    }
    .carousel-caption p{
        font-size: 12px;
    }
    .carousel-caption button{
        padding: 0.5rem;
        font-size: 12px;
    }
    .vehicle-box {
        height: 90px !important;
    }
    .vehicle_box{
        width: 95vw;
    }
    
}

@media (max-width: 400px) {
     .about_stats_card h4{
        font-size: 18px;
     }
     .team-item{
        width: 300px;
    }
    .team-item div h4{
        font-size: 16px;
    }
    .team-item div p{
        font-size: 12px;
    }
    
}
@media (min-width: 992px) {
     
.userfilled-form {
    height: fit-content;
    position: sticky;
    top: 14vh;
    bottom: 6vh;
}
    
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}


.service-item {
    height: fit-content;
    /* min-width: 200px; */
    border-bottom: 5px solid white;
    transition: 0.5s;
}

.service-item:hover,
.service-item.active {
    border-bottom: 5px solid var(--secondary);
}

.service-item h1,
.service-item h4 {
    transition: 0.5s;
}

.rent-item {
    padding: 30px;
    text-align: center;
    background: var(--light);
    transition: 0.5s;
}

.rent-item:hover,
.rent-item.active {
    background: var(--secondary);
}

.rent-item h4 {
    transition: 0.5s;
}

.rent-item:hover h4,
.rent-item.active h4 {
    color: var(--light);
}

.team-item {
    padding: 30px 30px 0 30px;
    text-align: center;
    background: var(--light);
    transition: 0.5s;
}

.team-item:hover,
.owl-item.center .team-item {
    background: var(--secondary);
}

.team-item h4 {
    transition: 0.5s;
}

.owl-item.center .team-item h4,
.owl-item.center .rent-item h4 {
    color: var(--light);
}

.team-item .team-social {
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    background: var(--light);
}

.owl-item.center .team-item .team-social,
.owl-item.center .rent-item {
    background: var(--secondary);
}

.team-item:hover .team-social {
    opacity: 1;
    background: var(--secondary);
}

.team-carousel .owl-nav,
.related-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 60px;
    top: calc(50% - 30px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next,
.related-carousel .owl-nav .owl-prev,
.related-carousel .owl-nav .owl-next {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: var(--primary);
    font-size: 22px;
    transition: 0.5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover,
.related-carousel .owl-nav .owl-prev:hover,
.related-carousel .owl-nav .owl-next:hover {
    background: var(--secondary);
}

.vendor-carousel .owl-dots,
.testimonial-carousel .owl-dots {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vendor-carousel .owl-dot,
.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: var(--secondary);
    transition: 0.5s;
}

.vendor-carousel .owl-dot.active,
.testimonial-carousel .owl-dot.active {
    width: 40px;
    height: 40px;
    background: var(--primary);
}

.testimonial-carousel .owl-item img {
    width: 80px;
    height: 80px;
}

.testimonial-carousel .owl-item .testimonial-item {
    height: 350px;
    transition: 0.5s;
    background: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--secondary);
}

.testimonial-carousel .owl-item .testimonial-item h1,
.testimonial-carousel .owl-item .testimonial-item h4 {
    transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item h1 {
    color: var(--dark) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h4 {
    color: var(--light);
}

.bg-banner {
    background: linear-gradient(#5eb4f1df, #5eb4f1de), url(../img/bg-banner.jpg);
    background-attachment: fixed;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.service-box {
    padding: 20px;
    color: white;
    cursor: pointer;
    width: 30%;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.service-content {
    padding: 10px;
    width: 100%;
    border-top: 1px solid #ddd;
}

.service-content h2 {
    margin-top: 0;
}

.vehicle-box.selected,
.vehicle-box:hover {
    background-color: #ddeff9;
}
.vehicle-box {
    width: 140px;
    height: 120px;
    cursor: pointer;
}

/* media queries  */
@media only screen and (max-width: 1402px) {
    #banner_form {
        max-width: 90vw;
    }
    #form_overlay_banner {
        top: -320px;
        left: 40px;
        z-index: 10;
    }
    .form-overlay-container{
        height: 350px;
    }
}
@media only screen and (max-width: 1060px) {
    #banner_form {
        max-width: 80vw;
    }
    #form_overlay_banner {
        top: -220px;
        left: 80px;
        z-index: 10;
    }
    .form-overlay-container{
        height: 500px;
    }
    .vehicle_box{
        width: 90vw;
    }
    .team-item{
        width: 280px;
    }
}
@media only screen and (max-width: 800px) {
    #banner_form {
        max-width: 90vw;
    }
    #form_overlay_banner {
        top: 25px;
        left: 0px;
        z-index: 10;
    }
    h6{
        font-size: 12px;
    }
    h2{
        font-size: 18px;
    }
    .vehicle-box p{
        font-size: 10px;
    }
    label{
        font-size: 12px;
    }
    #selected-vehicle{
        min-height: 38px !important;
    }
    .form-control{
        font-size: 0.8rem;
    }
    button{
        padding: 5px 15px;
    }
    .form-overlay-container{
        height: fit-content;
    }
    h5{
        font-size: 14px;
    }
    .vehicle_info p{
        font-size: 10px;
    }
    .btn-booknow, .estimated_price{
        font-size: 10px;
    }
    .team-item{
        width: 200px;
    }
    
}
